table {
  border-collapse: collapse;
  width: 100%;
}

.table-title th {
  background-color: bisque;
  padding: 20px;
}

.table-body {
  background-color: rgb(133, 188, 228);
  color: darkblue;
  width: 100%;
}

.table-body td {
  background-color: rgb(133, 188, 228);
}

.table-body tr:hover {
  color: rgb(9, 128, 112);
}

.table-body button {
  background-color: rgb(0 51 102);
  border-radius: 5px;
  border-style: none;
  color: white;
  height: 30px;
  margin-top: 10px;
}

.td-dc , .td-tag {
  padding-left: 20px;
  padding-right: 15px;
}

.td-moedas , .td-method {
  padding-left: 70px;
  padding-right: 15px;
}

.td-cy {
  padding-left: 60px;
  padding-right: 15px;
}

.td-value {
  padding-left: 35px;
  padding-right: 15px;
}

.btn {
  margin-left: 30px;
  margin-right: 4px;
}

.btn:hover , .btn2:hover {
  color: rgb(191, 199, 35);
}
